---
// import { Icon } from 'astro-icon'

---

<body class="grid justify-items-stretch content-center min-h-screen bg-slate-400 ">

    <section class="grid grid-cols-2 justify-self-center justify-items-end h-[400px] text-center">
        
        <div class="grid content-center bg-orange-500 w-[300px] rounded-2xl">
            
            <h3 class=" text-white">Your Result</h3>

            <div class="grid content-center rounded-full bg-lime-600 my-10 m-auto text-center h-[120px] w-[120px]">
                <h3 class="text-white text-4xl font-bold">90</h3>
                <span class="text-white">of 100</span>
            </div>

            <h2 class=" mb-4 text-white text-[18px]">Great</h2>
            <p class="text-white">You scored higher than 65% of the people who have taken these tests</p>
        </div>

        <div class=" bg-white w-[450px] rounded-2xl">

            <h2 class="text-[18px] mb-6 font-bold">Summary</h2>

            <div class="grid grid-cols-2 bg-Orangey-yellow-alpha">

                <div class=" justify-items-start">
                    <img src="/images/icon-reaction.svg" alt="">
                    <span class=" text-Light-red"> Reaction </span>
                </div>
                <p> 80 / <span> 100 </span></p>
            </div>

            <button class="bg-Dark-gray-blue w-full text-center text-[18px] text-white rounded-3xl mt-6 h-14 hover:bg-gradient-to-b from-Light-slate-blue to-Light-royal-blue">Continue</button>
        </div>

    </section>
</body>