---
import Layout from '../layouts/Layout.astro';
import Lauches from '../components/Lauches.astro';
---

<Layout title="WC">
	<main>
		<h1 class="text-4xl text-white font-bold"> SpaceX launches </h1>
		<Lauches/>
	</main>
</Layout>