---
import Layout from '../layouts/LayoutHome.astro';
import Launches from '../components/Launches.astro';
---

<Layout title="WC">
	<main>
		<h1 class="text-4xl text-white font-bold"> SpaceX launches </h1>
		<Launches/>
	</main>
</Layout>