---

import HeaderButton from "./HeaderButton.astro";
import RocketLaunch from 'astro-heroicons/solid/RocketLaunch.astro';

---
<div class="m-5">
    <nav
    class="flex flex-col items-center justify-between bg-slate-400 w-full text-center md:flex-row"
>

    <HeaderButton href="/" class="flex items-center gap-4"> 
        <RocketLaunch class="text-gray-200 h-8" slot="before-text"/>
        Ultimos lanzamientos 
    </HeaderButton>

    <HeaderButton href="/about">About</HeaderButton>
    <HeaderButton href="/oldest"> Los mas viejos </HeaderButton>
</nav>
</div>
